.wrapper
  .header
    .header__logo
      = fa_icon 'heartbeat', class:'header__icon'
      .header__title
        portfolio
        .header__list
          = fa_icon 'align-justify'

  .contents
    .contents__login
      .side_ber
        .side_ber__title
          Meun
        .side_ber__menu
          %ul
            %li.side_ber__profile
              Profile
            %li.side_ber__ruby
              Ruby
            %li.side_ber__python
              Python
            %li.side_ber__php
              PHP
        .sns
          = fa_icon 'twitter', class:'sns__twitter'
          = fa_icon 'github', class:'sns__github'
      .introduction
        .introduction__title
          introduction
    .contents__profile
      %h2 profile
      %p 
      .contents__profile--photo
      .contents__profile--photo
      .contents__profile--photo
    .contents__ruby
    .contents__python
    .contents__php

  .footer
    Thank you!!