.header
  .header__logo
    = fa_icon 'heartbeat', class:'header__icon'
    .header__title
      portfolio
      .header__list
        = fa_icon 'align-justify'

.contents
  .side_ber
    .side_der__list
      .side_ber__list--link
  .contents__view

.footer
  .footer__list
  = fa_icon 'twitter'
  = fa_icon 'github'
  