.header {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow:0px 0px 20px 20px #333 inset;
  &__title {
    color: #fff;
    text-align: left;
    line-height: 50px;
    font-size: 32px;
    p{
      margin-left: 30px;
      color: #fff;
    }
  }
  &__post {
    float: right;
    color: #ccc;
    line-height: 50px;
    margin-right: 10px;
    font-size: 10px;
    :hover {
      padding-left: 0.7em;
      padding-right: 0.3em;
      color: #ff6347;
    }
    &--text {
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 0.5em;
      text-decoration: none;
      border: solid 1px #fff;
      color: #fff;
      transition: .4s;
      line-height: 25px;
      box-shadow:0px -8px 5px -1px #ccc inset;
    }
  }
}
